<form action="/api/users" method ="POST" id = "add_user">
    <div class = "new_user">

        <div class="form-group">
            <label for="name" class = "text-dark">Name</label> 
            <input type="hidden" name ="id" value="">
            <input type="text" name = "name" value="" placeholder="New tudent">
        </div>

        <div class="form-group">
            <label for="email" class = "text-dark">Email</label>
            <input type="text" name = "email" value="" placeholder="student@gmail.com">
        </div>

        <div class="form-group">
            <label for="balance" class = "text-dark">Balance</label>
            <input type="text" name = "balance" value="" placeholder= $0.00 >
        </div>

        <div class="form-group">
            <label for="next-lesson" class = "text-dark">Next Lesson</label>
            <input type="date" id="start" name="trip-start"
             value="2022-01-01"
              min="2022-01-01" max="2023-12-31">
        </div>

        <div class = "form-group">
            <button type ="submit" class = "btn text-dark update">Complete</button>
        </div>
    </div>
</form>